<!-- ---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
--- -->
<!-- 
<html lang="en">
	<head>
		<MainHead title="About | Valentin Boudigues" description="" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Valentin</h1>
			<!-- <div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					I am a developer aiming to enhance my skills in multiples languages and frameworks.
					I have a passion for development in various domains like robotics or algorithms and I love to learn new things.
				</p>
				<p>
					My main professional goal is to be able to work in the field of artificial intelligence and machine learning.
					My primary programming language is Python but I also know Java or PHP.
				</p>
				<p>
					I am currently studying at the Institute of Technology of Bordeaux, in the Computer Science department, and currently in my 2rd year.
					I took part in the international class where I had many courses in English and I also had the opportunity to go to Japan for an internship.
					I also took the option Robotics where I learned about many robots like Industrial Robots and their programming.
					And I participated in the Robocup 2022 where we had to program robots to play soccer.
				</p>
				<h3>
					My Skills
				</h3>
					<ul>
						<li><b>Languages :</b> C, C#, Python, Java, HTML, CSS, PHP, SQL, Bash</li>
						<li><b>Frameworks :</b> Flask, Symfony, Bootstrap, TailwindCSS</li>
						<li><b>Tools :</b> Git, Visual Studio Code, PyCharm, IntelliJ, Eclipse, Discord, Trello, Lucidchart, Microsoft Office</li>
					</ul>
				<h3>
					My Experiences
				</h3>
				<ul>
						<li><b>August 2022 :</b> Worked at the Caisse des Dépôts et Consignations as a Python Developer where I translated Perl script to Python.</li>
						<li><b>April 2023 - June 2023 :</b> Internship at Tsukuba University in Japan on Computer vision for human sensing.</li>
				</ul>
			</div>
		</div>
		<Footer />
	</body>
</html> -->
